
.ls-ico-earth {
  color: #1AB551;
  
}
.logo-login {
  display: block;
  margin-bottom: 1em;
  align-items: center;
  color: #1AB551;
}
.ls-login-parent {
 margin-top: 1em;
}

.notice{
  margin-top: 1em;
}

.alert{
  margin-top: 1em;
}

.btn-submit {
  margin-top: 1em;
}

.ls-labels {
  margin-top: 1em;
}

.ls-title-name{
  margin-bottom: 1em;
}

.field-text {
  margin-bottom: 10px !important;
  
}

.radio {
  margin: 1em auto;
}

.dropdown > * {  
  padding: 1em;
  border-radius: 0.5em;
  background: #1AB551;
  color: #fff;
  margin-top: 0.5em;
}
.search {
  display: flex;
  align-items: center;
}

#search {
  margin-right: 5px;
}

#ls-bg-header-inactive {
  background: #567a63;
}

.api_error {
  color: #D85A58;
}

.api_success {
  color: #169944;
}

.api_error {
  color: #D85A58;
  font-weight: bold;
  word-spacing: 1.5;
}
